<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="description" content="${appDesc!}">
<meta name="author" content="IMTIGER.CN">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="${base!}/img/favicon.png" />
<link href="${base!}/css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="${base!}/css/lib/font-awesome.min.css" rel="stylesheet" />
<link href="${base!}/css/common.css" rel="stylesheet" />

<script src="${base!}/js/lib/jquery.min.js"></script>
<script src="${base!}/js/lib/jquery.md5.js"></script>
<script src="${base!}/js/lib/bootstrap.min.js"></script>
<script src="${base!}/js/lib/echarts.min.js"></script>
<script src="${base!}/js/lib/echarts.light.js"></script>
