<!doctype html>
<html>
<head>
    <#include "/common/header.html" />
    <link rel="stylesheet" type="text/css" href="${base!}/css/reg.css">
    <title>用户注册 - ${appName!}</title>
</head>
<body>
	<header>
		<img alt="Logo" src="${base!}/img/logo/logo.png" id="logo" />
		<span id="logo-title">${appName!}</span>
		<span id="logo-subtitle">用户注册</span>
	</header>
	
	<div id="container">
		<form class="form" id="form">
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="account"><span class="text-require">*</span>账号：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="account"><span class="text-require">*</span>账号：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="text" placeholder="账号" id="account" name="account" maxlength="50" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="name"><span class="text-require">*</span>姓名：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="name"><span class="text-require">*</span>姓名：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="text" placeholder="姓名" id="name" name="name" maxlength="50" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="password"><span class="text-require">*</span>密码：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="password"><span class="text-require">*</span>密码：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="password" placeholder="密码" id="password" name="password" maxlength="50" autocomplete="off" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="password2"><span class="text-require">*</span>确认密码：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="password2"><span class="text-require">*</span>确认密码：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="password" placeholder="确认密码" id="password2" name="password2" maxlength="50" autocomplete="off" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="email"><span class="text-require">*</span>电子邮箱：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="email"><span class="text-require">*</span>电子邮箱：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="text" placeholder="电子邮箱" id="email" name="email" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="mobile">手机号码：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="mobile">手机号码：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="text" placeholder="手机号码" id="mobile" name="mobile" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 hidden-md hidden-lg" for="province"><span class="text-require">*</span>通讯地址：</label>
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2" for="province"><span class="text-require">*</span>通讯地址：</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<select id="province" class="form-control">
						<option value="">省/自治区/直辖市</option>
					</select>
				</div>
			</div>
			<div class="row">
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2">&nbsp;</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<select id="city" class="form-control">
						<option value="">市/自治州</option>
					</select>
				</div>
			</div>
			<div class="row">
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2">&nbsp;</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<select id="region" name="region" class="form-control">
						<option value="">区/县/自治县</option>
					</select>
				</div>
			</div>
			<div class="row">
				<label class="hidden-xs hidden-sm col-md-2 col-lg-2">&nbsp;</label>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
					<input class="form-control" type="text" id="address" name="address" placeholder="详细地址" />
				</div>
			</div>
			<div class="row col-xs-12 col-sm-12 col-md-10 col-lg-8" id="btns">
				<button type="button" id="reg-btn" class="btn btn-success">注&nbsp;册</button>
			</div>
			<div>&nbsp;</div>
		</form>
	</div>
	
	<footer>
   		<br>
		<p style="margin-top: 12px;">&copy; <b id="copyright"></b> Easy Parking. All Rights Reserved.</p> 
	</footer>
	
	<#include "/common/alert.html" />

	<script type="text/javascript">
		$("#reg-btn").click(function () {
			if ($("#account").val() == '') {
				showWarning("账号不能为空，请检查");
				return;
			}
			if ($("#name").val() == '') {
				showWarning("姓名不能为空，请检查");
				return;
			}
			if ($("#password").val() == '') {
				showWarning("密码不能为空，请检查");
				return;
			}
			if ($("#password2").val() == '') {
				showWarning("确认密码不能为空，请检查");
				return;
			}
			if ($("#password2").val() != $("#password").val()) {
				showWarning("密码和确认密码不一致，请检查");
				return;
			}
			if ($("#email").val() == '') {
				showWarning("电子邮箱不能为空，请检查");
				return;
			}
			var rgx = /^\w+@[a-z0-9]+\.[a-z]+$/i;
			if (!rgx.test($("#email").val())) {
				showWarning("电子邮箱格式不正确，请重新输入");
				return;
			}
			if ($("#mobile").val() != '' && $("#mobile").val().length != 11) {
				showWarning("手机号码格式不正确，请重新输入");
				return;
			}
			if ($("#type").val() == '') {
				showWarning("用户类型不能为空，请检查");
				return;
			}
			if ($("#region").val() == '') {
				showWarning("通讯地址区划选择不正确，请检查");
				return;
			}
			if ($("#address").val() == '') {
				showWarning("详细地址不能为空，请检查");
				return;
			}
			$("#password").val($.md5($("#password").val()));
			$.ajax({
				url: '${base!}/regSubmit',
				type: 'post',
				data: $("#form").serialize(),
				success: function (resp) {
					var data = eval('('+resp+')');
	    			if (data.code == '1') {
	    				showAccept("注册成功！点击确认返回登录页面", function () {
	    					window.location.href = "${base!}/";
	    				});
	    			} else {
	    				showWarning(data.message);
	    				$("#password").val($("#password2").val());
	    			}
				},
				error: function () {
					showError("注册失败，请稍后再试");
    				$("#password").val($("#password2").val());
				}
			});
		});
		
		// 初始化行政区划
		function loadRegion(parentId, selectorId) {
			$.ajax({
				url: '${base!}/manage/region/select',
				type: 'post',
				data: {
					"parentId": parentId
				},
				async: false,
				success: function (resp) {
					var res = eval('('+resp+')');
					var str;
					if (selectorId == "province" || selectorId == "eprovince") {
						str = "<option value=''>省/自治区/直辖市</option>";
					} else if (selectorId == "city" || selectorId == "ecity") {
						str = "<option value=''>市/自治州</option>";
					} else if (selectorId == "region" || selectorId == "eregion") {
						str = "<option value=''>区/县/自治县</option>";
					}
					for (var i = 0; i < res.data.length; i++) {
						str += "<option value='" + res.data[i].ID + "'>" + res.data[i].NAME + "</option>";
					}
					$("#" + selectorId).html(str);
				},
				error: function () {
					showError("行政区划加载失败，请稍后再试");
				}
			});
		}
		
		loadRegion("000000", "province");
	
		$("#province").change(function () {
			$("#region").html("<option value=''>区/县/自治县</option>");
			if ($("#province") != null && $("#province").val() != '') {
				loadRegion($("#province").val(), "city");
			}
		});
		$("#city").change(function () {
			if ($("#city") != null && $("#city").val() != '') {
				loadRegion($("#city").val(), "region");
			}
		});
	    
		$(function () {
	        var year = new Date().getFullYear();
	        if (year > 2019) {
	        	$("#copyright").html("2019-"+year);
	        } else {
	        	$("#copyright").html(year);
	        }
	    });
	</script>
</body>
</html>