<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imtiger.master.access.dao.AppDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.imtiger.master.access.entity.App">
        <id column="ID" property="id" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="DESCRIPTION" property="description" />
        <result column="GROUP_ID" property="groupId" />
        <result column="URL" property="url" />
        <result column="ICON" property="icon" />
        <result column="PROTOCOL" property="protocol" />
        <result column="RUNNING" property="running" />
        <result column="ORDER" property="order" />
        <result column="STATUS" property="status" />
        <result column="DISABLED" property="disabled" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATOR" property="updator" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CODE, NAME, DESCRIPTION, GROUP_ID, URL, ICON, PROTOCOL, RUNNING, ORDER, STATUS, DISABLED, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME
    </sql>

</mapper>
